*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-size: large;
    font-weight: 400;
}
#header-img{
    width:50%;
   height: 50px;
    
}



#header{
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;


}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
#form>input{
    padding: 0.5rem;
    
}
#form > input:last-of-type{
    background-color:rgb(240, 240, 42);
}

#nav-bar{
    /* text-align: right; */
    /* position: fixed; */
    /* top: 0.5rem */
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

#nav-bar > a{
    color: black;
    text-decoration: none;
}

#para1{
    text-align: center;
    font-size:30px;
    font-weight: 500;
}

.logo{
    width: 50px;
    height: 50px;
}

.features-para{
    display: flex;

    
}

.logo{
    margin-right:30px;
}



.bold{
    font-weight: 700;
}

@media screen and(max-width:100px)
{
    .logo{
        margin-right:20px;
    }
    
}

